{% extends 'layout.html' %}

{% block title %}
   <title>Show Page</title>
{% endblock %}

{% block content %}
<center><h1>Show Orders</h1></center>
    <table class="table">
   <thead>
     <tr>
       <th scope="col">ID</th>
       <th scope="col">Task</th>
       <th scope="col">Status</th>
       <th scope="col">Created At</th>
       <th scope="col">Updated At</th>
     </tr>
   </thead>
   <tbody>
   {% for i in obj %}
     <tr>
       <td>{{i.id}}</td>
       <td>{{i.task}}</td>
       <td>{{i.status}}</td>
       <td>{{i.created_at}}</td>
       <td>{{i.updated_at}}</td>
       <td>
           <button class="btn btn-warning"><a href={% url 'update' i.id %}>Update</a></button>&nbsp;&nbsp;
           <button class="btn btn-danger"><a href={% url 'update' i.id %}>Delete</a></button>
       </td>
     </tr>
   {% endfor %}
   </tbody>
 </table>
{% endblock %}
